body{
    padding: 2% 10% 20% 10%;
    background-image: url(/img/fondo.jpg);
    background-size: cover;
    background-position: center;
    
}

.casa{
    border: solid 5px white;
    height: 350px;
}
#description{
    
    background-color: black;
    color: white;
    height: 800px;
    padding: 5%;
    border: solid 5px white;

}
#stark{
    background-image: url(/img/stark.jpg);
    background-size: cover;
    background-position: center;
}
#targaryen{
    background-image: url(/img/targaryen.jpg);
    background-size: cover;
    background-position: center;

}
#lannister{
    background-image: url(/img/lannister.jpg);
    background-size: cover;
    background-position: center;

}
#baratheon{
    background-image: url(/img/baratheon.png);
    background-size: cover;
    background-position: center;

}


