
.calculadora{
    display: inline-block;
    margin:0 auto;
    padding:20px;
    background-color:#2980b9;
    min-width:15%;
    min-height:550px;
    border-radius: 25px;
    
  }
  .calculadora div button{
    width:71px;
    height: 70px;
    font-size: 25px;
    display: inline-block;
    margin-bottom: 3px;
  }
 
  #resultado{
    display:block;
    text-align: right;
    font-size: 40px;
    margin-bottom: 50px;
    width:300px;
    height: 100px;
    line-height: 100px;
    background-color:#fff;
    border-radius: 10px;
  }