body{
    background-image: url("img/puntaarenas.jpg");
    background-size: cover;
    background-position: center;
    
}
#container{
    width: 30%;
    margin-left: 20%;
    margin-top: 5%;
}
salida{
    border: solid 2px black;
    width: 300px;
    height: 400px;
    
}
